body{
    background-image: url('https://t3.ftcdn.net/jpg/05/58/60/72/360_F_558607298_B9OvR1MA57BY1SUcNxNqDUFqsWNosso1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
img{
    height: 200px;
    border-radius: 50%;
}
#profile{
  height: 70vh;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 2px 3px 50px green;
  margin:5% 40%;
}