.box{

  height: 200px;
  width: 200px;
  border: 1px solid black;
  display:inline-block;
  border-radius: 50%;
  
  
}

p{
       
    font-size: 64px;
    text-align: center;
    letter-spacing: 25px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;


}

body{
    background:linear-gradient(123deg,orange,red,yellow);
    background-attachment: fixed;
    height: 100vh;
}